<!DOCTYPE html>
<!--[if IE 7 ]>
<html class="no-js ie ie7 lte7 lte8 lte9" lang="zh-cmn-Hans-CN">
<![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie ie8 lte8 lte9" lang="zh-cmn-Hans-CN">
<![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie ie9 lte9>
" lang="zh-cmn-Hans-CN"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="zh-cmn-Hans-CN">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title><%= locals.title%></title>
    <script>
        var contextPath = "/";
    </script>
    <link rel="stylesheet" type="text/css" href="/assets/uiengine.css"/>
    <script src="/js/libs/jquery-2.1.1.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="/js/libs/jquery-2.1.1.min.js"><\/script>');
        }
    </script>
    <script src="/js/libs/jquery-ui-1.10.3.min.js"></script>
    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
        }
    </script>
    <script src="/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> 
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/notification/SmartNotification.min.js"></script>
    <script src="/js/smartwidgets/jarvis.widget.min.js"></script>
    <script src="/js/plugin/jquery-validate/jquery.validate.min.js"></script>
    <script src="/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
    <script src="/js/plugin/select2/select2.min.js"></script>
    <script src="/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
    <script src="/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
    <script src="/js/plugin/fastclick/fastclick.min.js"></script>
    <script src="/js/plugin/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="/js/plugin/jquery-form/jquery-form.min.js"></script>
    <script src="/js/plugin/wangEditor//js/wangEditor.min.js"></script>
    <script src="/js/plugin/handsontable/dist/handsontable.full.min.js"></script>
    <script src="/js/plugin/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/js/plugin/bootstrap-table/bootstrap-table-locale-all.min.js"></script>
    <script src="/js/plugin/webuploader-0.1.5/webuploader.min.1.js"></script>
    <script src="/js/plugin/ajax-loading/ajax-loading.js"></script>
    <script src="/js/plugin/jstree/jstree.min.js"></script>
    <script src="/common/common.js"></script>
    <script src="/js/plugin/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/js/plugin/jstree/themes/default/style.min.css">
    <link rel="stylesheet" type="text/css" href="/js/plugin/webuploader-0.1.5/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/js/plugin/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/js/plugin/handsontable/dist/handsontable.full.min.css">
    <!--[if IE 8]>
    <link href="/assets/ie8.css" rel="stylesheet"/>
    <link href="/assets/font-awesome-ie8.min.css" rel="stylesheet"/>
    <![endif]-->
    <!--[if lt IE 8]>
    <div style="background:#FBE3E4;border:none;position:relative;z-index:9990;color:#8A1F11;padding:8px 10px;text-align:center">
        当前网页&nbsp;<strong>不支持</strong>&nbsp;您正在使用的浏览器.&nbsp;为了您的正常访问,&nbsp;请&nbsp;<a href="http://uisource.com/wp-content/themes/duomeng/ie.htm">升级您的浏览器</a>.
    </div>
    <![endif]-->
</head>
