<% include header.html %>
<body class="smart-style-4  desktop-detected minified "  style="background: url('/assets/wholebg.jpg') 0 0 no-repeat;">
<style type="text/css">
@media(max-width:991px) {
.col-lg-4 {
		width: 100%
	}	
}
</style>
<header id="header">
	<div id="logo-group">
		<span id="logo">
		<img src="/assets/logo-white.png" class="" id="TinyFramework"/>
		</span>
	</div>
	<!-- <span id="login-header-space">
	<span class="hidden-mobile">需要一个账号?</span>
	<a class="btn btn-danger" href="register.page">
	    新建用户
	</a>
	</span> -->
</header>
<style type="text/css">
	.imgss { position: absolute; top: 180px; }
</style>
<div role="main" id="main" style="background: none;">
	<div id="content" class="container ">
		<div class="row ">
			<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
				<img src="/assets/dec_slogan.png" class="imgss">
				<!-- <h1 class="txt-color-red login-header-big">
    				<%= locals.title%>
				</h1>
				<div class="hero">
					<div class="pull-left login-desc-box-l">
						<h4 class="paragraph-header">
    						快速高效的管理OA，集人员管理，绩效管理，OA管理，bug管理系统与一体
						</h4>
						<div class="login-app-icons">
							<a href="javascript:void(0);" class="btn btn-danger btn-sm">OA</a>
							<a href="javascript:void(0);" class="btn btn-danger btn-sm">OA</a>
						</div>
					</div>
					<img src="/assets/iPhone6.png" class="pull-right display-image" alt="" style="width:210px">
				</div>
                             
				<div class="row ">  
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<h5 class="about-heading">
						    OA管理平台
						</h5>         
						<p  >
							OA管理平台
						</p>       
					</div>
    
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<h5 class="about-heading">
						    OA管理平台介绍
						</h5>           
						<p  >
							OA管理平台介绍
						</p>      
					</div>    
				</div>	 -->			
			</div>

  
 



			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
				<div class="well no-padding">
					<form action="session" class="smart-form smart-form client-form" id="login-form" method="post">
						<input type="hidden" name="backUrl" value="">
						<header>
	 						系统登录
						</header>
						<fieldset>
							<section>
								<label class="label">用户名</label>
								<label class="input">
									<i class="icon-append fa fa-user"></i>
									<input name="username" placeholder="用户名" type="text">
									<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>请输入您的用户名</b></label>
								</label>
							</section>
							<section>
								<label class="label">密码</label>
								<label class="input">
									<i class="icon-append fa fa-lock"></i>
									<input id="password" name="password" placeholder="请输入密码" type="password">
									<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>请输入您的密码</b></label>
								</label>
							</section>
							<!-- <section>
								<label class="label">验证码</label>
								<label class="input">
									<i class="icon-append fa fa-lock"></i>
									<input id="password" name="password" placeholder="请输入验证码" type="password">
									<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>请输入验证码</b></label>
								</label>
								<div class="note ">
									<img id="captcha" src="/captcha?<%=Date.now()%>" />
								</div>
								<div class="note " style="display: none;">
									<a href="forgotpassword.page">忘记密码?</a>
								</div>
							</section> -->
							<section>
								<label class="checkbox">
									<input name="remember" checked="1" type="checkbox">
									<i></i>保持登录状态
								</label>
							</section>
						</fieldset>
						<footer>
						<button type="submit" class="btn btn-primary ">
	 						登录 
						</button>
						</footer>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		runAllForms(); 
		// Validation
		$("#login-form").validate({
			// Rules for form validation
			rules : {
				username : {
					required : true
				},
				password : {
					required : true
				}
			},

			// Messages for form validation
			messages : {
				username : {
					required : '请输入您的用户名'
				},
				password : {
					required : '请输入你的密码'
				}
			},

			// Do not change code below
			errorPlacement : function(error, element) {
				error.insertAfter(element.parent());
			},			
			submitHandler:function(form){
	            $(form).ajaxSubmit({
	            	error: function(request) {
//		                alert("Connection error");
		            },
		            success: function(data) {
		                if (data.status == 200) {
		                    window.location.href = '/client';
		                } else {
		                  	$("#login_ok").removeAttr("disabled").val(" 登 录 ");
		                    // alert(data.message);
		                    $.bigBox({
								title : "出错了",
								content : data.message,
								color : "#C46A69",
								icon : "fa fa-warning shake animated",
								timeout : 3000
							});
		                }
		            }
	            });
	        }    
		});
	});
</script>

<script type="text/javascript">
	$("body").attr('id','login');
</script>

<% include footer.html %>