<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		<ul id="sparks" class="">
			<li class="sparks-info">
				<h5> 未关闭BUG数 <span class="txt-color-blue"><i class="fa fa-arrow-circle-up"></i>&nbsp;171</span></h5>
				<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
					130, 187, 250, 257, 200, 210, 300, 270, 361, 241, 200, 361, 271
				</div>
			</li>
			<li class="sparks-info">
				<h5> 日新增BUG数 <span class="txt-color-purple"><i class="fa fa-arrow-circle-down"></i>&nbsp;45%</span></h5>
				<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
			<li class="sparks-info">
				<h5> OA数 <span class="txt-color-greenDark"><i class="fa fa-fire"></i>&nbsp;247</span></h5>
				<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<article class="col-sm-12">
			<div class="jarviswidget" id="wid-id-0" 
				data-widget-togglebutton="false" 
				data-widget-editbutton="false" 
				data-widget-fullscreenbutton="false" 
				data-widget-colorbutton="false" 
				data-widget-deletebutton="false"
				data-widget-sortable="false"
			>
				<header>
					<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
					<h2> 数据流 </h2>

					<ul class="nav nav-tabs pull-right in" id="myTab">
						<li class="active">
							<a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">日新增BUG</span></a>
						</li>

						<li>
							<a data-toggle="tab" href="#s2"><i class="fa fa-exclamation-circle"></i> <span class="hidden-mobile hidden-tablet">遗留BUG</span></a>
						</li>
					</ul>
				</header>
				<!-- widget div-->
				<div class="no-padding">
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">

					</div>
					<!-- end widget edit box -->
					<div class="widget-body">
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
								<div class="row no-space">
									<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
										
									</div>
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 show-stats">

										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"> 
												<span class="text"> 待完成任务 <span class="pull-right">130/200</span> </span>
												<div class="progress">
													<div class="progress-bar bg-color-blueDark" style="width: 65%;"></div>
												</div> 
											</div>
											<div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"> 
												<span class="text"> Bugs 修复程度<span class="pull-right">77%</span> </span>
												<div class="progress">
													<div class="progress-bar bg-color-blue" style="width: 77%;"></div>
												</div> 
											</div>
											<div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"> 
												<span class="text"> OA完成度 <span class="pull-right">7%</span> </span>
												<div class="progress">
													<div class="progress-bar bg-color-greenLight" style="width: 84%;"></div>
												</div> 
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="s2">
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>

	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-6">
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" 
				data-widget-colorbutton="false"
				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-sortable="false">

				<header>
					<span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
					<h2> 日历 </h2>
					<div class="widget-toolbar">
						<!-- add: non-hidden - to disable auto hide -->
						<div class="btn-group">
							<button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
								显示 <i class="fa fa-caret-down"></i>
							</button>
							<ul class="dropdown-menu js-status-update pull-right">
								<li>
									<a href="javascript:void(0);" id="mt">月视图</a>
								</li>
								<li>
									<a href="javascript:void(0);" id="ag">周视图</a>
								</li>
								<li>
									<a href="javascript:void(0);" id="td">日视图</a>
								</li>
							</ul>
						</div>
					</div>
				</header>

				<!-- widget div-->
				<div>
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">

						<input class="form-control" type="text">

					</div>
					<!-- end widget edit box -->

					<div class="widget-body no-padding">
						<!-- content goes here -->
						<div class="widget-body-toolbar">

							<div id="calendar-buttons">

								<div class="btn-group">
									<a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
									<a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
								</div>
							</div>
						</div>
						<div id="calendar"></div>

						<!-- end content -->
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->
		</article>

		<article class="col-sm-12 col-md-12 col-lg-6">
			<!-- new widget -->
			<div class="jarviswidget jarviswidget-color-blue" id="wid-id-4" 
				data-widget-colorbutton="false"
				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-sortable="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-check txt-color-white"></i> </span>
					<h2> 代办事项 </h2>
				</header>
				<div>

					<div class="widget-body no-padding smart-form">
						<!-- content goes here -->
						<h5 class="todo-group-title"><i class="fa fa-warning"></i> 紧急任务 (<small class="num-of-tasks">1</small>)</h5>
						<ul id="sortable1" class="todo">
							<li>
								<span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline">
										<i></i> </label> </span>
								<p>
									<strong>#0001</strong> - 代办事件 [<a href="javascript:void(0);" class="font-xs">更多...</a>] <span class="text-muted">代办事件查看更多. </span>
									<span class="date">Jan 1, 2014</span>
								</p>
							</li>
						</ul>
						<h5 class="todo-group-title"><i class="fa fa-exclamation"></i> 重要任务 (<small class="num-of-tasks">3</small>)</h5>
						<ul id="sortable2" class="todo">
							<li>
								<span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline">
										<i></i> </label> </span>
								<p>
									<strong>#0001</strong> - 代办事件 [<a href="javascript:void(0);" class="font-xs">更多...</a>] <span class="text-muted">代办事件查看更多. </span>
									<span class="date">Jan 1, 2014</span>
								</p>
							</li>
							<li>
								<span class="handle"> <label class="checkbox">
										<input type="checkbox" name="checkbox-inline">
										<i></i> </label> </span>
								<p>
									<strong>#0001</strong> - 代办事件 [<a href="javascript:void(0);" class="font-xs">更多...</a>] <span class="text-muted">代办事件查看更多. </span>
									<span class="date">Jan 1, 2014</span>
								</p>
							</li>
						</ul>

						<!-- end content -->
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->
		</article>
	</div>

</section>


<script type="text/javascript">
	$(function() {
		pageSetUp();
		runAllCharts();
	});
</script>